--
-- PostgreSQL database dump
--

\restrict T935LlLDYlFoHEFeNniqEquIejo5iykf4Jy3DdcZPz0f791afgkmn9TUbUkAEab

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: empleados; Type: TABLE; Schema: public; Owner: dprssd
--

CREATE TABLE public.empleados (
    empleado_id integer NOT NULL,
    nombre character varying(100),
    apellido character varying(100),
    correo_electronico character varying(150),
    telefono character varying(50),
    cargo character varying(100),
    salario numeric(10,2),
    fecha_contratacion date
);


ALTER TABLE public.empleados OWNER TO dprssd;

--
-- Name: empleados_empleado_id_seq; Type: SEQUENCE; Schema: public; Owner: dprssd
--

CREATE SEQUENCE public.empleados_empleado_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.empleados_empleado_id_seq OWNER TO dprssd;

--
-- Name: empleados_empleado_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dprssd
--

ALTER SEQUENCE public.empleados_empleado_id_seq OWNED BY public.empleados.empleado_id;


--
-- Name: historial_salarios; Type: TABLE; Schema: public; Owner: dprssd
--

CREATE TABLE public.historial_salarios (
    pago_id integer NOT NULL,
    empleado_id integer,
    fecha_pago date,
    salario_base numeric(10,2),
    bonificacion numeric(10,2),
    deducciones numeric(10,2),
    pago_neto numeric(10,2)
);


ALTER TABLE public.historial_salarios OWNER TO dprssd;

--
-- Name: historial_salarios_pago_id_seq; Type: SEQUENCE; Schema: public; Owner: dprssd
--

CREATE SEQUENCE public.historial_salarios_pago_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historial_salarios_pago_id_seq OWNER TO dprssd;

--
-- Name: historial_salarios_pago_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dprssd
--

ALTER SEQUENCE public.historial_salarios_pago_id_seq OWNED BY public.historial_salarios.pago_id;


--
-- Name: proveedores; Type: TABLE; Schema: public; Owner: dprssd
--

CREATE TABLE public.proveedores (
    proveedor_id integer NOT NULL,
    nombre_empresa character varying(150),
    nombre_contacto character varying(150),
    correo_electronico character varying(150),
    telefono character varying(50),
    ciudad character varying(100),
    pais character varying(100),
    contrato_activo boolean
);


ALTER TABLE public.proveedores OWNER TO dprssd;

--
-- Name: proveedores_proveedor_id_seq; Type: SEQUENCE; Schema: public; Owner: dprssd
--

CREATE SEQUENCE public.proveedores_proveedor_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.proveedores_proveedor_id_seq OWNER TO dprssd;

--
-- Name: proveedores_proveedor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dprssd
--

ALTER SEQUENCE public.proveedores_proveedor_id_seq OWNED BY public.proveedores.proveedor_id;


--
-- Name: registros_inventario; Type: TABLE; Schema: public; Owner: dprssd
--

CREATE TABLE public.registros_inventario (
    registro_id integer NOT NULL,
    producto_id integer,
    empleado_id integer,
    tipo_movimiento character varying(50),
    cantidad_cambiada integer,
    fecha_registro timestamp without time zone,
    observaciones text
);


ALTER TABLE public.registros_inventario OWNER TO dprssd;

--
-- Name: registros_inventario_registro_id_seq; Type: SEQUENCE; Schema: public; Owner: dprssd
--

CREATE SEQUENCE public.registros_inventario_registro_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.registros_inventario_registro_id_seq OWNER TO dprssd;

--
-- Name: registros_inventario_registro_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dprssd
--

ALTER SEQUENCE public.registros_inventario_registro_id_seq OWNED BY public.registros_inventario.registro_id;


--
-- Name: sucursales; Type: TABLE; Schema: public; Owner: dprssd
--

CREATE TABLE public.sucursales (
    sucursal_id integer NOT NULL,
    nombre_sucursal character varying(100),
    direccion character varying(200),
    ciudad character varying(100),
    telefono character varying(50),
    nombre_gerente character varying(150),
    hora_apertura time without time zone
);


ALTER TABLE public.sucursales OWNER TO dprssd;

--
-- Name: sucursales_sucursal_id_seq; Type: SEQUENCE; Schema: public; Owner: dprssd
--

CREATE SEQUENCE public.sucursales_sucursal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sucursales_sucursal_id_seq OWNER TO dprssd;

--
-- Name: sucursales_sucursal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dprssd
--

ALTER SEQUENCE public.sucursales_sucursal_id_seq OWNED BY public.sucursales.sucursal_id;


--
-- Name: empleados empleado_id; Type: DEFAULT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.empleados ALTER COLUMN empleado_id SET DEFAULT nextval('public.empleados_empleado_id_seq'::regclass);


--
-- Name: historial_salarios pago_id; Type: DEFAULT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.historial_salarios ALTER COLUMN pago_id SET DEFAULT nextval('public.historial_salarios_pago_id_seq'::regclass);


--
-- Name: proveedores proveedor_id; Type: DEFAULT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.proveedores ALTER COLUMN proveedor_id SET DEFAULT nextval('public.proveedores_proveedor_id_seq'::regclass);


--
-- Name: registros_inventario registro_id; Type: DEFAULT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.registros_inventario ALTER COLUMN registro_id SET DEFAULT nextval('public.registros_inventario_registro_id_seq'::regclass);


--
-- Name: sucursales sucursal_id; Type: DEFAULT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.sucursales ALTER COLUMN sucursal_id SET DEFAULT nextval('public.sucursales_sucursal_id_seq'::regclass);


--
-- Name: empleados empleados_pkey; Type: CONSTRAINT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.empleados
    ADD CONSTRAINT empleados_pkey PRIMARY KEY (empleado_id);


--
-- Name: historial_salarios historial_salarios_pkey; Type: CONSTRAINT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.historial_salarios
    ADD CONSTRAINT historial_salarios_pkey PRIMARY KEY (pago_id);


--
-- Name: proveedores proveedores_pkey; Type: CONSTRAINT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.proveedores
    ADD CONSTRAINT proveedores_pkey PRIMARY KEY (proveedor_id);


--
-- Name: registros_inventario registros_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.registros_inventario
    ADD CONSTRAINT registros_inventario_pkey PRIMARY KEY (registro_id);


--
-- Name: sucursales sucursales_pkey; Type: CONSTRAINT; Schema: public; Owner: dprssd
--

ALTER TABLE ONLY public.sucursales
    ADD CONSTRAINT sucursales_pkey PRIMARY KEY (sucursal_id);


--
-- PostgreSQL database dump complete
--

\unrestrict T935LlLDYlFoHEFeNniqEquIejo5iykf4Jy3DdcZPz0f791afgkmn9TUbUkAEab

