--
-- PostgreSQL database dump
--

\restrict 5vyrFiFjmMRfOJa9oYVkdigjpHENgvn3FvHFaboHzQggbjw0cd5vlW3R2gQH0DA

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: audit; Type: SCHEMA; Schema: -; Owner: dprssd
--

CREATE SCHEMA audit;


ALTER SCHEMA audit OWNER TO dprssd;

--
-- Name: dw; Type: SCHEMA; Schema: -; Owner: dprssd
--

CREATE SCHEMA dw;


ALTER SCHEMA dw OWNER TO dprssd;

--
-- Name: stg; Type: SCHEMA; Schema: -; Owner: dprssd
--

CREATE SCHEMA stg;


ALTER SCHEMA stg OWNER TO dprssd;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: stg_errores_carga; Type: TABLE; Schema: audit; Owner: dprssd
--

CREATE TABLE audit.stg_errores_carga (
    id_error integer NOT NULL,
    tabla_origen character varying(100),
    descripcion_error text,
    campo_fallido character varying(100),
    fecha_error timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE audit.stg_errores_carga OWNER TO dprssd;

--
-- Name: stg_errores_carga_id_error_seq; Type: SEQUENCE; Schema: audit; Owner: dprssd
--

CREATE SEQUENCE audit.stg_errores_carga_id_error_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE audit.stg_errores_carga_id_error_seq OWNER TO dprssd;

--
-- Name: stg_errores_carga_id_error_seq; Type: SEQUENCE OWNED BY; Schema: audit; Owner: dprssd
--

ALTER SEQUENCE audit.stg_errores_carga_id_error_seq OWNED BY audit.stg_errores_carga.id_error;


--
-- Name: dim_categorias; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.dim_categorias (
    sk_categoria integer NOT NULL,
    categoria_id integer NOT NULL,
    nombre_categoria character varying(100),
    descripcion text
);


ALTER TABLE dw.dim_categorias OWNER TO dprssd;

--
-- Name: dim_categorias_sk_categoria_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.dim_categorias_sk_categoria_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.dim_categorias_sk_categoria_seq OWNER TO dprssd;

--
-- Name: dim_categorias_sk_categoria_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.dim_categorias_sk_categoria_seq OWNED BY dw.dim_categorias.sk_categoria;


--
-- Name: dim_clientes; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.dim_clientes (
    sk_cliente integer NOT NULL,
    cliente_id integer NOT NULL,
    nombre_cliente character varying(150),
    apellido_cliente character varying(150),
    correo character varying(150),
    telefono character varying(50),
    ciudad character varying(100)
);


ALTER TABLE dw.dim_clientes OWNER TO dprssd;

--
-- Name: dim_clientes_sk_cliente_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.dim_clientes_sk_cliente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.dim_clientes_sk_cliente_seq OWNER TO dprssd;

--
-- Name: dim_clientes_sk_cliente_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.dim_clientes_sk_cliente_seq OWNED BY dw.dim_clientes.sk_cliente;


--
-- Name: dim_empleados; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.dim_empleados (
    sk_empleado integer NOT NULL,
    empleado_id integer NOT NULL,
    nombre_empleado character varying(150),
    apellido_empleado character varying(150),
    cargo character varying(100),
    fecha_contratacion date
);


ALTER TABLE dw.dim_empleados OWNER TO dprssd;

--
-- Name: dim_empleados_sk_empleado_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.dim_empleados_sk_empleado_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.dim_empleados_sk_empleado_seq OWNER TO dprssd;

--
-- Name: dim_empleados_sk_empleado_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.dim_empleados_sk_empleado_seq OWNED BY dw.dim_empleados.sk_empleado;


--
-- Name: dim_productos; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.dim_productos (
    sk_producto integer NOT NULL,
    producto_id integer NOT NULL,
    nombre_producto character varying(150),
    categoria_id integer,
    proveedor_id integer,
    precio_unitario numeric(10,2),
    stock integer
);


ALTER TABLE dw.dim_productos OWNER TO dprssd;

--
-- Name: dim_productos_sk_producto_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.dim_productos_sk_producto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.dim_productos_sk_producto_seq OWNER TO dprssd;

--
-- Name: dim_productos_sk_producto_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.dim_productos_sk_producto_seq OWNED BY dw.dim_productos.sk_producto;


--
-- Name: dim_proveedores; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.dim_proveedores (
    sk_proveedor integer NOT NULL,
    proveedor_id integer NOT NULL,
    nombre_proveedor character varying(150),
    contacto character varying(100),
    telefono character varying(50),
    ciudad character varying(100)
);


ALTER TABLE dw.dim_proveedores OWNER TO dprssd;

--
-- Name: dim_proveedores_sk_proveedor_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.dim_proveedores_sk_proveedor_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.dim_proveedores_sk_proveedor_seq OWNER TO dprssd;

--
-- Name: dim_proveedores_sk_proveedor_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.dim_proveedores_sk_proveedor_seq OWNED BY dw.dim_proveedores.sk_proveedor;


--
-- Name: dim_sucursales; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.dim_sucursales (
    sk_sucursal integer NOT NULL,
    sucursal_id integer NOT NULL,
    nombre_sucursal character varying(100),
    direccion character varying(200),
    ciudad character varying(100),
    telefono character varying(50),
    nombre_gerente character varying(100),
    hora_apertura character varying(50)
);


ALTER TABLE dw.dim_sucursales OWNER TO dprssd;

--
-- Name: dim_sucursales_sk_sucursal_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.dim_sucursales_sk_sucursal_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.dim_sucursales_sk_sucursal_seq OWNER TO dprssd;

--
-- Name: dim_sucursales_sk_sucursal_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.dim_sucursales_sk_sucursal_seq OWNED BY dw.dim_sucursales.sk_sucursal;


--
-- Name: dim_tiempo; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.dim_tiempo (
    fecha_key integer NOT NULL,
    fecha date NOT NULL,
    anio integer NOT NULL,
    semestre integer NOT NULL,
    trimestre integer NOT NULL,
    numero_mes integer NOT NULL,
    nombre_mes character varying(50) NOT NULL,
    anio_mes character varying(10) NOT NULL,
    numero_semana integer NOT NULL,
    dia_mes integer NOT NULL,
    numero_dia_semana integer NOT NULL,
    nombre_dia character varying(50) NOT NULL,
    es_fin_semana boolean NOT NULL
);


ALTER TABLE dw.dim_tiempo OWNER TO dprssd;

--
-- Name: fact_detalle_ordenes; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.fact_detalle_ordenes (
    sk_detalle_orden integer NOT NULL,
    orden_id integer NOT NULL,
    sk_producto integer,
    cantidad integer,
    precio_unitario numeric(10,2),
    subtotal numeric(12,2)
);


ALTER TABLE dw.fact_detalle_ordenes OWNER TO dprssd;

--
-- Name: fact_detalle_ordenes_sk_detalle_orden_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.fact_detalle_ordenes_sk_detalle_orden_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.fact_detalle_ordenes_sk_detalle_orden_seq OWNER TO dprssd;

--
-- Name: fact_detalle_ordenes_sk_detalle_orden_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.fact_detalle_ordenes_sk_detalle_orden_seq OWNED BY dw.fact_detalle_ordenes.sk_detalle_orden;


--
-- Name: fact_historial_salarios; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.fact_historial_salarios (
    sk_historial_salario integer NOT NULL,
    sk_empleado integer,
    salario_anterior numeric(10,2),
    salario_nuevo numeric(10,2),
    fecha_cambio date
);


ALTER TABLE dw.fact_historial_salarios OWNER TO dprssd;

--
-- Name: fact_historial_salarios_sk_historial_salario_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.fact_historial_salarios_sk_historial_salario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.fact_historial_salarios_sk_historial_salario_seq OWNER TO dprssd;

--
-- Name: fact_historial_salarios_sk_historial_salario_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.fact_historial_salarios_sk_historial_salario_seq OWNED BY dw.fact_historial_salarios.sk_historial_salario;


--
-- Name: fact_inventario; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.fact_inventario (
    sk_inventario integer NOT NULL,
    sk_producto integer,
    sk_sucursal integer,
    stock_actual integer,
    stock_minimo integer
);


ALTER TABLE dw.fact_inventario OWNER TO dprssd;

--
-- Name: fact_inventario_sk_inventario_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.fact_inventario_sk_inventario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.fact_inventario_sk_inventario_seq OWNER TO dprssd;

--
-- Name: fact_inventario_sk_inventario_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.fact_inventario_sk_inventario_seq OWNED BY dw.fact_inventario.sk_inventario;


--
-- Name: fact_ordenes; Type: TABLE; Schema: dw; Owner: dprssd
--

CREATE TABLE dw.fact_ordenes (
    sk_orden integer NOT NULL,
    orden_id integer NOT NULL,
    sk_cliente integer,
    sk_empleado integer,
    sk_sucursal integer,
    fecha_orden date,
    total_orden numeric(12,2)
);


ALTER TABLE dw.fact_ordenes OWNER TO dprssd;

--
-- Name: fact_ordenes_sk_orden_seq; Type: SEQUENCE; Schema: dw; Owner: dprssd
--

CREATE SEQUENCE dw.fact_ordenes_sk_orden_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE dw.fact_ordenes_sk_orden_seq OWNER TO dprssd;

--
-- Name: fact_ordenes_sk_orden_seq; Type: SEQUENCE OWNED BY; Schema: dw; Owner: dprssd
--

ALTER SEQUENCE dw.fact_ordenes_sk_orden_seq OWNED BY dw.fact_ordenes.sk_orden;


--
-- Name: view_aux_tiempo; Type: VIEW; Schema: dw; Owner: dprssd
--

CREATE VIEW dw.view_aux_tiempo AS
 SELECT (to_char(d, 'YYYYMMDD'::text))::integer AS fecha_key,
    d AS fecha,
    (EXTRACT(year FROM d))::integer AS anio,
        CASE
            WHEN (EXTRACT(month FROM d) <= (6)::numeric) THEN 1
            ELSE 2
        END AS semestre,
    (EXTRACT(quarter FROM d))::integer AS trimestre,
    (EXTRACT(month FROM d))::integer AS numero_mes,
    to_char(d, 'TMMonth'::text) AS nombre_mes,
    to_char(d, 'YYYY-MM'::text) AS anio_mes,
    (EXTRACT(week FROM d))::integer AS numero_semana,
    (EXTRACT(day FROM d))::integer AS dia_mes,
        CASE
            WHEN (EXTRACT(isodow FROM d) = (7)::numeric) THEN 7
            ELSE (EXTRACT(isodow FROM d))::integer
        END AS numero_dia_semana,
    to_char(d, 'TMDay'::text) AS nombre_dia,
        CASE
            WHEN (EXTRACT(isodow FROM d) = ANY (ARRAY[(6)::numeric, (7)::numeric])) THEN true
            ELSE false
        END AS es_fin_semana
   FROM generate_series(('2020-01-01'::date)::timestamp with time zone, ('2030-12-31'::date)::timestamp with time zone, '1 day'::interval) d(d);


ALTER VIEW dw.view_aux_tiempo OWNER TO dprssd;

--
-- Name: stg_categorias; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_categorias (
    categoria_id integer,
    nombre_categoria character varying(100),
    descripcion text,
    esta_activa character varying(10),
    tasa_impuesto character varying(20),
    creado_en character varying(50),
    actualizado_en character varying(50)
);


ALTER TABLE stg.stg_categorias OWNER TO dprssd;

--
-- Name: stg_clientes; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_clientes (
    cliente_id integer,
    nombre character varying(100),
    apellido character varying(100),
    correo_electronico character varying(150),
    telefono character varying(50),
    ciudad character varying(100),
    puntos_fidelidad character varying(20),
    fecha_registro character varying(50)
);


ALTER TABLE stg.stg_clientes OWNER TO dprssd;

--
-- Name: stg_detalle_ordenes; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_detalle_ordenes (
    detalle_id integer,
    orden_id integer,
    producto_id integer,
    cantidad character varying(20),
    precio_unitario character varying(20),
    descuento character varying(20),
    subtotal character varying(20)
);


ALTER TABLE stg.stg_detalle_ordenes OWNER TO dprssd;

--
-- Name: stg_empleados; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_empleados (
    empleado_id integer,
    nombre character varying(100),
    apellido character varying(100),
    correo_electronico character varying(150),
    telefono character varying(50),
    cargo character varying(100),
    salario character varying(20),
    fecha_contratacion character varying(50)
);


ALTER TABLE stg.stg_empleados OWNER TO dprssd;

--
-- Name: stg_historial_salarios; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_historial_salarios (
    pago_id integer,
    empleado_id integer,
    fecha_pago character varying(50),
    salario_base character varying(20),
    bonificacion character varying(20),
    deducciones character varying(20),
    pago_neto character varying(20)
);


ALTER TABLE stg.stg_historial_salarios OWNER TO dprssd;

--
-- Name: stg_ordenes; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_ordenes (
    orden_id integer,
    cliente_id integer,
    fecha_orden character varying(50),
    monto_total character varying(20),
    metodo_pago character varying(50),
    estado_orden character varying(50),
    sucursal character varying(100)
);


ALTER TABLE stg.stg_ordenes OWNER TO dprssd;

--
-- Name: stg_productos; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_productos (
    producto_id integer,
    categoria_id integer,
    nombre_producto character varying(150),
    sku character varying(100),
    precio_unitario character varying(20),
    precio_costo character varying(20),
    cantidad_stock character varying(20),
    esta_disponible character varying(10)
);


ALTER TABLE stg.stg_productos OWNER TO dprssd;

--
-- Name: stg_proveedores; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_proveedores (
    proveedor_id integer,
    nombre_empresa character varying(150),
    nombre_contacto character varying(150),
    correo_electronico character varying(150),
    telefono character varying(50),
    ciudad character varying(100),
    pais character varying(100),
    contrato_activo character varying(10)
);


ALTER TABLE stg.stg_proveedores OWNER TO dprssd;

--
-- Name: stg_registros_inventario; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_registros_inventario (
    registro_id integer,
    producto_id integer,
    empleado_id integer,
    tipo_movimiento character varying(50),
    cantidad_cambiada character varying(20),
    fecha_registro character varying(50),
    observaciones text
);


ALTER TABLE stg.stg_registros_inventario OWNER TO dprssd;

--
-- Name: stg_sucursales; Type: TABLE; Schema: stg; Owner: dprssd
--

CREATE TABLE stg.stg_sucursales (
    sucursal_id integer,
    nombre_sucursal character varying(100),
    direccion character varying(150),
    ciudad character varying(100),
    telefono character varying(50),
    nombre_gerente character varying(100),
    hora_apertura character varying(50)
);


ALTER TABLE stg.stg_sucursales OWNER TO dprssd;

--
-- Name: stg_errores_carga id_error; Type: DEFAULT; Schema: audit; Owner: dprssd
--

ALTER TABLE ONLY audit.stg_errores_carga ALTER COLUMN id_error SET DEFAULT nextval('audit.stg_errores_carga_id_error_seq'::regclass);


--
-- Name: dim_categorias sk_categoria; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_categorias ALTER COLUMN sk_categoria SET DEFAULT nextval('dw.dim_categorias_sk_categoria_seq'::regclass);


--
-- Name: dim_clientes sk_cliente; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_clientes ALTER COLUMN sk_cliente SET DEFAULT nextval('dw.dim_clientes_sk_cliente_seq'::regclass);


--
-- Name: dim_empleados sk_empleado; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_empleados ALTER COLUMN sk_empleado SET DEFAULT nextval('dw.dim_empleados_sk_empleado_seq'::regclass);


--
-- Name: dim_productos sk_producto; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_productos ALTER COLUMN sk_producto SET DEFAULT nextval('dw.dim_productos_sk_producto_seq'::regclass);


--
-- Name: dim_proveedores sk_proveedor; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_proveedores ALTER COLUMN sk_proveedor SET DEFAULT nextval('dw.dim_proveedores_sk_proveedor_seq'::regclass);


--
-- Name: dim_sucursales sk_sucursal; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_sucursales ALTER COLUMN sk_sucursal SET DEFAULT nextval('dw.dim_sucursales_sk_sucursal_seq'::regclass);


--
-- Name: fact_detalle_ordenes sk_detalle_orden; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_detalle_ordenes ALTER COLUMN sk_detalle_orden SET DEFAULT nextval('dw.fact_detalle_ordenes_sk_detalle_orden_seq'::regclass);


--
-- Name: fact_historial_salarios sk_historial_salario; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_historial_salarios ALTER COLUMN sk_historial_salario SET DEFAULT nextval('dw.fact_historial_salarios_sk_historial_salario_seq'::regclass);


--
-- Name: fact_inventario sk_inventario; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_inventario ALTER COLUMN sk_inventario SET DEFAULT nextval('dw.fact_inventario_sk_inventario_seq'::regclass);


--
-- Name: fact_ordenes sk_orden; Type: DEFAULT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_ordenes ALTER COLUMN sk_orden SET DEFAULT nextval('dw.fact_ordenes_sk_orden_seq'::regclass);


--
-- Name: stg_errores_carga stg_errores_carga_pkey; Type: CONSTRAINT; Schema: audit; Owner: dprssd
--

ALTER TABLE ONLY audit.stg_errores_carga
    ADD CONSTRAINT stg_errores_carga_pkey PRIMARY KEY (id_error);


--
-- Name: dim_categorias dim_categorias_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_categorias
    ADD CONSTRAINT dim_categorias_pkey PRIMARY KEY (sk_categoria);


--
-- Name: dim_clientes dim_clientes_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_clientes
    ADD CONSTRAINT dim_clientes_pkey PRIMARY KEY (sk_cliente);


--
-- Name: dim_empleados dim_empleados_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_empleados
    ADD CONSTRAINT dim_empleados_pkey PRIMARY KEY (sk_empleado);


--
-- Name: dim_productos dim_productos_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_productos
    ADD CONSTRAINT dim_productos_pkey PRIMARY KEY (sk_producto);


--
-- Name: dim_proveedores dim_proveedores_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_proveedores
    ADD CONSTRAINT dim_proveedores_pkey PRIMARY KEY (sk_proveedor);


--
-- Name: dim_sucursales dim_sucursales_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_sucursales
    ADD CONSTRAINT dim_sucursales_pkey PRIMARY KEY (sk_sucursal);


--
-- Name: dim_tiempo dim_tiempo_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.dim_tiempo
    ADD CONSTRAINT dim_tiempo_pkey PRIMARY KEY (fecha_key);


--
-- Name: fact_detalle_ordenes fact_detalle_ordenes_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_detalle_ordenes
    ADD CONSTRAINT fact_detalle_ordenes_pkey PRIMARY KEY (sk_detalle_orden);


--
-- Name: fact_historial_salarios fact_historial_salarios_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_historial_salarios
    ADD CONSTRAINT fact_historial_salarios_pkey PRIMARY KEY (sk_historial_salario);


--
-- Name: fact_inventario fact_inventario_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_inventario
    ADD CONSTRAINT fact_inventario_pkey PRIMARY KEY (sk_inventario);


--
-- Name: fact_ordenes fact_ordenes_pkey; Type: CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_ordenes
    ADD CONSTRAINT fact_ordenes_pkey PRIMARY KEY (sk_orden);


--
-- Name: fact_ordenes fk_cliente; Type: FK CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_ordenes
    ADD CONSTRAINT fk_cliente FOREIGN KEY (sk_cliente) REFERENCES dw.dim_clientes(sk_cliente);


--
-- Name: fact_ordenes fk_empleado; Type: FK CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_ordenes
    ADD CONSTRAINT fk_empleado FOREIGN KEY (sk_empleado) REFERENCES dw.dim_empleados(sk_empleado);


--
-- Name: fact_inventario fk_inv_producto; Type: FK CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_inventario
    ADD CONSTRAINT fk_inv_producto FOREIGN KEY (sk_producto) REFERENCES dw.dim_productos(sk_producto);


--
-- Name: fact_inventario fk_inv_sucursal; Type: FK CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_inventario
    ADD CONSTRAINT fk_inv_sucursal FOREIGN KEY (sk_sucursal) REFERENCES dw.dim_sucursales(sk_sucursal);


--
-- Name: fact_detalle_ordenes fk_producto; Type: FK CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_detalle_ordenes
    ADD CONSTRAINT fk_producto FOREIGN KEY (sk_producto) REFERENCES dw.dim_productos(sk_producto);


--
-- Name: fact_historial_salarios fk_salario_empleado; Type: FK CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_historial_salarios
    ADD CONSTRAINT fk_salario_empleado FOREIGN KEY (sk_empleado) REFERENCES dw.dim_empleados(sk_empleado);


--
-- Name: fact_ordenes fk_sucursal; Type: FK CONSTRAINT; Schema: dw; Owner: dprssd
--

ALTER TABLE ONLY dw.fact_ordenes
    ADD CONSTRAINT fk_sucursal FOREIGN KEY (sk_sucursal) REFERENCES dw.dim_sucursales(sk_sucursal);


--
-- PostgreSQL database dump complete
--

\unrestrict 5vyrFiFjmMRfOJa9oYVkdigjpHENgvn3FvHFaboHzQggbjw0cd5vlW3R2gQH0DA

